@model IEnumerable<MiniMundo.Models.NivelAcesso>

@{
    ViewData["Title"] = "Index";
}

<h1>Nível Acesso</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Cadastrar nível de acesso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaAcesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaAcesso)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.NivelID" class="btn btn-outline-primary"> <i class="bi bi-pencil-square"></i> Editar</a>
                    <a asp-action="Details" asp-route-id="@item.NivelID" class="btn btn-outline-secondary"><i class="bi bi-card-list"></i> Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.NivelID" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
