@model MiniMundo.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstoqueAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstoqueAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FornecedorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FornecedorID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProdutoID" class="btn btn-outline-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Voltar para Lista</a>
</div>
