@model IEnumerable<MiniMundo.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Cadastrar Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstoqueAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstoqueAtual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FornecedorID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProdutoID" class="btn btn-outline-primary"> <i class="bi bi-pencil-square"></i> Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ProdutoID" class="btn btn-outline-secondary"><i class="bi bi-card-list"></i> Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.ProdutoID" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
